/* Global Styles */
:root {
    --primary-color: #004466;
    --secondary-color: #0088cc;
    --text-color: #333;
    --bg-color: #f9f9f9;
    --heading-font: 'Arial', sans-serif;
    --body-font: 'Verdana', sans-serif;
}

body {
    font-family: var(--body-font);
    color: var(--text-color);
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

/* Header */
h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

/* Links */
a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Contact Information */
p {
    text-align: center;
    font-size: 1.1em;
}

/* Horizontal Rule */
hr {
    border: none;
    height: 2px;
    background: var(--primary-color);
    margin: 20px 0;
}

/* Headings */
h2 {
    color: var(--primary-color);
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 5px;
    margin-top: 30px;
}

h3 {
    color: var(--primary-color);
    margin-top: 20px;
}

/* Lists */
ul {
    list-style: square;
    padding-left: 20px;
}

/* Sections */
section {
    margin-bottom: 30px;
    padding: 10px;
}

/* Table of Contents */
ul li a {
    color: var(--primary-color);
}


.summary-paragraph p{
    text-align:justify;
    font-size: 1.1em;
}

/* Responsive Design */
@media (max-width: 768px) {
    body {
        padding: 10px;
        max-width: 80%;
    }

    h1, h2, h3 {
        text-align: center;
    }

    p, ul {
        font-size: 1em;
    }

    ul {
        padding-left: 10px;
    }
}
